<?php
define('DB_SERVER', '$DB_SERVER');
define('DB_USERNAME', '$DB_USER');
define('DB_PASSWORD', '$DB_PASS');
define('DB_NAME', '$DB_NAME');
if (!defined('AWS_REGION')) {
    define('AWS_REGION', 'AWS_REGION');
}
if (!defined('S3_BUCKET')) {
    define('S3_BUCKET', 'S3_BUCKET');
}
?>