<?php
define('DB_SERVER', '$DBEndpoint');
define('DB_USERNAME', '$DBUSER');
define('DB_PASSWORD', '$DBPASS');
define('DB_NAME', '$DBName');
define('AWS_REGION', '$REGION');
define('S3_BUCKET', '$S3_BUCKET_NAME');
?>